notifications:
  email: false
dist: xenial
os: linux
language: python
python: 3.8-dev
cache: pip
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Services
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_services

install:
  - python3 -m pip install --prefer-binary -r dev_requirements.txt -r requirements.txt

jobs:
  include:
    - name: "Linux - Python 3.8-dev - Python sources"
      stage: test
      os: linux
      python: 3.8-dev
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux amd64 - Python 3.8-dev - Installed"
      stage: test
      os: linux
      python: 3.8-dev
      language: python
      script:
        - python3 setup.py build_ext --inplace
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3 - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          username: __token__
          password:
            secure: RUEKDobGmLnNZPcU+q3W9GseumFWIvYg21d7XAxCG88/9FMAwroM2Vxf7tBqiZgmIYky16wDun+FSf3DQoUOnIFSqxwUum6BmuHA2hqcefks4qRsN469pOT9qrdQnPW/hhKKyolwFBd25FNLYVzdmnfUYQUfl77DWCXt/vkGWxq5Qwp78UUFSYQJSmsmcJbsZ0MJeGvPAIjWjkIdOiyHKR2y1P3Kqb6hVASJVvNAxbEvkdgskdF55icriH93vg/oIvGoUJQW5deY5pM12I7FxDQdCPiS6m9SrNMiSEUML0EWIgdesUR8pj0xNtOyyCK7Fxaiw/yQAkRU+jka/c19G0V9hRTr4AymGbo6ZBmqPTTrAuakTCjm+5twe5DX9o0rrmU6+0P3iur/0Hh2tqtlAtbDuIo6wn4Vx5i+StaZGtk/sO2Rke53Be3gP+tqaQOGMZ40CzFbDdiZImhxAtEL/r5CXSOjCkc5U0/3nLCQzJtH9hBiQiFP7qjLWUn3QCCSGiWZYkSpyXDwSpaYPH3Yw30AoxZIlTe8fXkMWyG6Yxa1VMv0e8pHs6fOsflOfzcAYaREXX6cDWMfQPu6vCefI9RB49XzgbEIvihckZKe1/YJK6I5tNdiax/Q1OykQgkuwsQGruL+qhhMzWuyB81kjNjhMZDtWomrL+szEQWtCQg=
          cleanup: true
          skip_existing: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true

after_failure:
  - wget https://raw.githubusercontent.com/DiscordHooks/travis-ci-discord-webhook/master/send.sh
  - chmod +x send.sh
  - ./send.sh failure https://discordapp.com/api/webhooks/$WEBHOOK_TOKEN
