notifications:
  email: false
sudo: enabled
os: linux
language: python
python: 3.7-dev
cache: pip
env:
  global:
    - GH_REPO=Drakkar-Software/OctoBot-Services
    - DEPLOY_BRANCH=master
    - PACKAGE_FOLDER=octobot_services
    - secure: S5ISAcVE8p30Csf01UBrOXqUQ4pxj30GKDIqVNafib47BIpW1pWL3SWb3Nl0FMQ4iQ/OkSPrw1nVR2mz0dzhS4SuzYlqV3Rc0ICYBnsy14qnHkVGw2HoVyhIeJ4K+qcFuT6Jjtgh4h/YjlDkHkFJxk8guROyM8qIbZP6NjvmgDuLUFBh58FMRl7jPcGBTFdanCL9me4eweeb3rxQM2fWPCuBLj7MFNaweavF5msI+TJJ9MHgh3CwTgYzg/Xuvuk2b2b1nbMMO9DEY/xoEeynRQKwLl8ahJ6g9e3FxNhmtsdasweN2s6orMDUPiRIZl8WP6/VRo+k+5a5J17HgU+Kr0kMHU4dbKK5mWXkIaz6xr2ydb+HMvCD97Fr+MTSanBjqUwT8k/wuCaSspaZ+gLgr7giAc/2jlNkQxQVdngVHEGISe1MFeRCv1CD0cOAI4ui27Sg0usLtoQwXUiii6vf6yt0Z0TzFNFV1d24L9Kb67OE1uU/y3M9ZYFKmg7KLMuc40reNA2M0hI+lS8DXYTnU0jHv6GXkvLbs8UN57R9hE1s6aaI2LCp9IchhUiX6xdYBn4/oh7FuQYRSF+Ygi/cih4yGrT/ZkIdvqrHV+KriWLk6+W+QaxoRhEBD7i2J9je+IJs/svJC7cs0M9aTNyMYt1A6jVr6wwiftb+B09c/NQ=
    - secure: oPo01kCw4wLJDPvBiX0C2QQ+IDMDTq4lDENwA92UbuFK2Uz0x3fTggKenRIBecOiDChnYRe0JOaKGuORmx+UxPIGWtU8b7W1CAUAg3mmd9IlzH/l8d4DwgA+pIb/3wLHDTHWeweo53hTNx6CreyOkPOnshU23f3//ftSm9iHyc3UVLTqZuzAFmK56rhoM6lPsULNGGKYRdOOLxFxfUS8dh6oVRei4h4GYvUT1WWpAJ9IWYyfRTKZVWCZfRgV0M67chHfECCnSaief644THCBb6+7uqNswfqUzo6aD3Sto1wfDGFSaKpMXejOQ8fEIbiJRrvSGs+rIgNBRb+Kl0IMuk2E6EAVH3eTcGF1bqdoGAhWa+6vvwypF3Xbsw0Kt/NkmrIbUQjmT/vx1zdp6DUToPFuVfi7DP2ro6EAagDadgvwsW0K0K7D77w3wCZYI4/ka5kcJCqBXiZqkz9LkJILCfM+3Q3zIHZ75hbojPieROMBUuc8eHf1HQfsQy1FxjInlkbU2ymnXMzglFjwhpXfKVgsHLV2NizHE4pibPeYFIsz3VFyjnZ/AFOwiDAm4COXParwwSqD4mTX352qkLp+Z7S10eyI9pLlvyn9oY7056cEXnEdTbO44Q0ZF9JVT6RfeNxdjxtPZkh7kYdmKG0zZoPPT3shR1vC85rzKRK47dI=

install:
  - python3 -m pip install --prefer-binary -r dev_requirements.txt -r requirements.txt

matrix:
  include:
    - name: "Linux - Python 3.7-dev - Python sources"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - pytest --cov=. --cov-config=.coveragerc --durations=0 -rw tests
      after_success:
        - if [ $TRAVIS_PULL_REQUEST == "false" ]; then coveralls; fi

    - name: "Linux - Python 3.7-dev - Installed"
      stage: test
      os: linux
      python: 3.7-dev
      language: python
      script:
        - python3 setup.py install
        - rm -rf $PACKAGE_FOLDER
        - pytest tests

    - name: "Linux - Python 3.7-dev - Deploy"
      stage: deploy
      script:
        - ls
      deploy:
        - provider: pypi
          user: "__token__"
          password:
            secure: HHlsEgI/sKI1iG5y571xXlokPZN6nwT4wCeG1oLFX6gEJTMnyWDq8wSiqaaIiOMcs6MWA/pQI6wf4yL0a2lXZMiNQIEC+Q64Iln1leNBXbDDsNYXPHPhsb2ZIPkVf2PFFIUCp+7kNQk7+h/5Px3wmoLs2WZbqy2vMHA4fGKwA3/xrwbjovQTJbDkonyZPzPCo30jsbl5jH/IzH1Lv2hn1xK7yS2w3y+iSV9tj2Wchcfz18OAVrb59PgaQptEzlKqujP6Khj6qV+04cTldzYh2Vd0kyYlSxmSN57EKYVyZfUkXCLm/AcJ55YfNwbrGslmPC/0g8rbmlMVGwB9cHQwBLARu3QwJZ7wW1PDiCXvJ2BTbeihh8dzOneGkgwfOe3HXD1F/7zA0I4NOuucPhcyD+EA3XVzFhNSqCOrK1E9D8pMqxn3c08+ORazdcebVojF7OAODxDOt1cldPwRjjflZ2AV6vOpZZvSKq43A9n3aXDnyTmzJF5y/Q1RjdmAgqb/bCchtUQ3COq5RA7BWtYCWnZURWy3lnjBB99G24v3dR2d1L730mjN72AIqx86bvKYU7YEiwz0ZTzlWaSXUjz78I7oDkYHuQwEnEeQ8AdA78+IJU3/lgac2XuRjkVr4MDwfJm52Y1GrayOC+JvFj9axVA6jgKOfk0WSN0qZwsTim8=
          skip_cleanup: true
          skip_existing: true
          distributions: "sdist"
          on:
            repo: $GH_REPO
            branch: $DEPLOY_BRANCH
            tags: true
            condition: $TRAVIS_OS_NAME = 'linux'
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:i686 "i686" "cp37-cp37m" "cp37"
          skip_cleanup: true
          skip_existing: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"
        - provider: script
          script: docker run -it -e PYPI_USERNAME=$PYPI_USERNAME -e PYPI_PASSWORD=$PYPI_PASSWORD -v $(pwd):/project drakkarsoftware/octobot-pypi-deploy:x86_64 "x86_64" "cp37-cp37m" "cp37"
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'linux'"

    - name: "OSX - Python 3.7 - Deploy"
      stage: deploy
      os: osx
      osx_image: xcode11    # Python 3.7.2 running on macOS 10.14.3
      language: shell       # 'language: python' is an error on Travis CI macOS
      # python: 3.7         # 'python:' is ignored on Travis CI macOS
      before_install: python3 --version ; pip3 --version ; sw_vers
      install:
        - python3 -m pip install --prefer-binary --user -r requirements.txt
        - python3 -m pip install --prefer-binary -r dev_requirements.txt
      before_cache:
        - rm -f "$HOME/Library/Caches/pip/log/debug.log"
      cache:
        directories:
          - "$HOME/Library/Caches/pip"
      script:
        - python3 setup.py build_ext --inplace
        - pytest tests
      deploy:
        - provider: script
          script: python3 setup.py bdist_wheel && python3 -m twine upload dist/* -u $PYPI_USERNAME -p $PYPI_PASSWORD --skip-existing
          skip_cleanup: true
          on:
            repo: "$GH_REPO"
            branch: "$DEPLOY_BRANCH"
            tags: true
            condition: "$TRAVIS_OS_NAME = 'osx'"
