# Drakkar-Software requirements
OctoBot-Channels>=1.4.7, <1.5
OctoBot-Commons>=1.3.31, <1.4
OctoBot-Trading>=1.6.19, <1.7

# Services
# Reddit
praw==6.5.1
# Telegram
python-telegram-bot==12.7.0
# Twitter
Python-Twitter==3.5
# Google
simplifiedpytrends>=1.1.0
# Ngrok
pyngrok==2.1.4
# Web
## http server
flask==1.1.2
## websockets
### used by the webhook service and flask-socketio for the web interface
gevent==1.5.0
### used by flask-socketio with gevent (listed here because multiple libs are usable, force this one)
gevent-websocket==0.10.1
flask-socketio==4.2.1

# Analysis tools
newspaper3k==0.2.8
vaderSentiment==3.3.1
