# Setup requirements
cython==0.29.14

# Drakkar-Software requirements
OctoBot-Channels>=1.3.17, <1.4
OctoBot-Commons>=1.2.1, <1.3

# Services
# Reddit
praw==6.4.0
# Telegram
python-telegram-bot==12.2.0
# Twitter
Python-Twitter==3.5
# Web
flask==1.1.1

# Analysis tools
newspaper3k==0.2.8
vaderSentiment==3.2.1