# Drakkar-Software requirements
Async-Channel>=2.0.12, <2.1
OctoBot-Commons>=1.6.13, <1.7
OctoBot-Trading>=1.14.0, <1.15

# Services
# Reddit
asyncpraw==7.3.1
# Telegram
python-telegram-bot==13.7.0
telethon==1.23.0
# Twitter
Python-Twitter==3.5
# Google
simplifiedpytrends>=1.1.2
# Ngrok
pyngrok==5.0.5
# Web
## http server
flask==1.1.2
## flask minification
flask-compress==1.10.1
## flask cache
flask-caching==1.10.1
## flask user authentication management
flask-login==0.5.0
## user form validators
WTForms==2.3.3
Flask-WTF==0.14.3
## websockets
### used by the webhook service and flask-socketio for the web interface
gevent==21.1.2
### used by flask-socketio with gevent (listed here because multiple libs are usable, force this one)
gevent-websocket==0.10.1
flask-socketio==5.0.1

# Analysis tools
newspaper3k==0.2.8
vaderSentiment==3.3.2
